<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="food_consumed" class="col-md-3"><b>Select food to add</b></label>
                        <select class="col-md-7 form-control" name="food_consumed" id="food_consumed">
                            {% for food in foods %}
                                <option value="{{ food.name }}">
                                    {{ food.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <button type="submit" class="btn btn-success">Add</button>
                </form>
            </div>
        </div>

        <div class="row">

        </div>
    </div>



    {% for c in consumed_food %}
        {{ c.food_consumed.name }} --> {{ c.food_consumed.carbs }} carbs {{ c.food_consumed.protein }} protein {{ c.food_consumed.fats }} fats {{ c.food_consumed.calories }} calories<br>
    {% endfor %}

</body>
</html>