{% extends 'tracker/base.html' %}
{% block body %}
    <h1>Edit expense</h1>
    <form method="POST" class="shadow-lg m-10 rounded-lg">
        {% csrf_token %}
            {{ expense_form.as_p }}
        <!-- <div class="form-container px-10 py-10 flex gap-6 items-end">
            <div>
                <div class="mb-2">
                    <label>Expense name</label>
                </div>
                <div class="border">
                    {{ expense_form.name }}
                </div>
            </div>
            <div>
                <div class="mb-2">
                    <label>Amount</label>
                </div>
                <div class="border">
                    {{ expense_form.amount }}
                </div>
            </div>
            <div>
                <div class="mb-2">
                    <label>Category</label>
                </div>
                <div class="border">
                    {{ expense_form.category }}
                </div>
            </div>
            <div><button type="submit" class="mx-10 bg-blue-600 text-white rounded px-3 py-1 font-bold">Add</button></div>
        </div> -->
    </form>
{% endblock %}