{% extends 'tracker/base.html' %}
{% load static %}
{% block body %}
    <h2 class="m-10 font-bold text-lg">
        Add expense
    </h2>
    <form method="POST" class="shadow-lg m-10 rounded-lg">
        {% csrf_token %}
        <div class="form-container px-10 py-10 flex gap-6 items-end">
            <div>
                <div class="mb-2">
                    <label>Expense name</label>
                </div>
                <div class="border">
                    {{ expense_form.name }}
                </div>
            </div>
            <div>
                <div class="mb-2">
                    <label>Amount</label>
                </div>
                <div class="border">
                    {{ expense_form.amount }}
                </div>
            </div>
            <div>
                <div class="mb-2">
                    <label>Category</label>
                </div>
                <div class="border">
                    {{ expense_form.category }}
                </div>
            </div>
            <div><button type="submit" class="mx-10 bg-blue-600 text-white rounded px-3 py-1 font-bold">Add</button></div>
        </div>
    </form>
    <div class="m-10 font-bold text-lg">
        Expenses
    </div>
    <div class="shadow-lg mx-10 rounded-lg">
        <div class="expense-header flex space-x-40">
            <span>Name</span><span>Amount</span><span>Category</span><span>Date</span>
            <span>Edit</span>
            <span>Delete</span>
        </div>
        <hr class="my-5">
        {% for expense in expenses %}
            <div class="expense-row flex space-x-40 py-4">
                <span class="font-bold">{{ expense.name }}</span>
                <span class="font-bold">${{ expense.amount }}</span>
                <span class="font-bold">{{ expense.category }}</span>
                <span class="font-bold">{{ expense.date }}</span>
                <span class="pl-16"><a href="{% url 'edit' expense.id %}">
                    <img class="h-6 w-6" src="{% static 'tracker/images/edit.png' %}" alt="edit">
                </a></span>
                <span class="font-bold">
                    <form method="post" action="{% url 'delete' expense.id %}">
                        {% csrf_token %}
                        <button type="submit" name="delete" class="font-bold">
                            <img class="h-6 w-6" src="{% static 'tracker/images/delete.png' %}" alt="delete">
                        </button>
                    </form>
                </span>
            </div>
        {% endfor %}
        <div class="pl-60 py-5">
            <span class="font-bold text-green-500">
                Total: ${{ total_amount.amount__sum }}
            </span>
        </div>
    </div>

{% endblock %}